Source: subgraph-logmon
Section: net 
Priority: optional
Maintainer: Alexsandr Kibal <ak@subgraph.com>
Build-Depends: debhelper (>= 9.0.0), dh-systemd, dh-golang, golang-go, golang-subgraph-inotify-dev, golang-golang-x-net-dev, golang-dbus-dev, lintian
Standards-Version: 3.9.8
Homepage: https://www.github.com/shw700/sublogmon 
Vcs-Git: https://www.github.com/shw700/sublogmon.git

Package: subgraph-logmon
Architecture: amd64
Depends: ${misc:Depends}, ${misc:Built-Using}, ${shlibs:Depends}, golang, adduser, golang-golang-x-net-dev 
Description: Subgraph log viewing system
 golang log viewing system for Subgraph specific security events.
 .
